<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 class="center-align">About</h1>
      <div class="card">
        <div class="card-content">
          <!-- About Section Starts Here -->
          <h4>About Gotham City Police Department (GCPD)</h4>
          <p>The Gotham City Police Department (GCPD) is the primary law enforcement agency responsible for maintaining law and order in Gotham City. We are dedicated to serving and protecting the citizens of Gotham and upholding justice.</p>
          
          <h4>Our Mission</h4>
          <p>Our mission is to ensure the safety and security of all residents of Gotham City. We strive to combat crime, apprehend criminals, and promote a safe environment for everyone.</p>
          
          <h4>Our Vision</h4>
          <p>Our vision is to create a Gotham City where everyone can live without fear, where justice prevails, and where the community and law enforcement work together to build a better future.</p>
          <!-- About Section Ends Here -->
        </div>
      </div>
    </div>
  </div>
</div>
