<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card z-depth-3" style="border-radius: 12px; margin-top: 30px;">
        <div class="card-content" style="padding: 30px;">
          <h3 class="center-align" style="color: #d32f2f;">
            Contact Us
          </h3>

          <div class="section">
            <p class="grey-text text-darken-1 center-align">
              If you need to reach the Gotham City Police Department, please use the information below or submit a message through our form.
            </p>
          </div>

          <div class="section row" style="margin-top: 30px;">
            <div class="col s12 m6">
              <h5 class="red-text text-darken-2">Contact Information</h5>
              <ul class="grey-text text-darken-1">
                <li><i class="material-icons tiny red-text">place</i> 123 Main Street, Gotham City, GC 10001</li>
                <li><i class="material-icons tiny red-text">call</i> (123) 456-7890</li>
                <li><i class="material-icons tiny red-text">access_time</i> Mon–Fri: 9 AM – 5 PM</li>
              </ul>
            </div>

            <div class="col s12 m6">
              <h5 class="red-text text-darken-2">Send a Message</h5>
              <form>
                <div class="input-field">
                  <input id="name" type="text" class="validate" required>
                  <label for="name">Your Name</label>
                </div>
                <div class="input-field">
                  <input id="email" type="email" class="validate" required>
                  <label for="email">Your Email</label>
                </div>
                <div class="input-field">
                  <textarea id="message" class="materialize-textarea" required></textarea>
                  <label for="message">Message</label>
                </div>
                <button class="btn red darken-2 waves-effect waves-light" type="submit" disabled>
                  Send Message
                  <i class="material-icons right">send</i>
                </button>
              </form>
              <p class="grey-text text-darken-1" style="font-size: 0.85em;">*This form is currently disabled in demo mode.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
