<div class="container">
  <h4 class="center-align red-text text-darken-2" style="margin-top: 30px;">
    Active Units in GCPD
  </h4>

  <div class="card z-depth-2" style="border-radius: 12px; padding: 20px; margin-top: 20px;">
    <table class="highlight responsive-table centered">
      <thead class="blue-text text-darken-2">
        <tr>
          <th>Unit</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
        <% if @active_units.present? %>
          <% @active_units.each do |unit| %>
            <tr>
              <td><%= link_to unit.name, unit_path(unit), class: 'blue-text text-darken-2' %></td>
              <td><span class="<%= unit.active ? 'green-text text-darken-2' : 'red-text text-darken-2' %>">
                <%= unit.active ? "Yes" : "No" %></span>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="2" class="grey-text text-darken-1">No active units at this time</td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="divider" style="margin: 30px 0;"></div>

    <div class="center-align">
      <%= link_to "New Unit", new_unit_path, class: 'btn blue darken-2 waves-effect waves-light', style: 'border-radius: 8px;' %>
    </div>
  </div>
</div>
